@font-face {
  font-family: 'Agbalumo';
  src: url('./assets/fonts/Agbalumo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f8f8;
  color: #606060;
}
